<html>
   <head>
   	  <link rel="stylesheet" type="text/css" href="styles/style.css">

   </head>

  <body>
  <div class="star" id="str" OnClick="hock()"></div>
	         <script src="scripts/javascript.js"></script>
  <div class="star2" id="str2" OnClick="hock()"></div>

      <div class="box" >


	  <img src="img/spcor.png" class="spcor2"></img>

	     <div class="bigSector1">

			<div class="smallSector"></div>
			<div class="smallSector2"></div>

		 </div>
		 <div class="life1"></div>

	  </div>
    <div class="generator"></div>
	<div class="zasvet"></div>
	<div class="stars">

	   <div class="star2"></div>
	   <div class="star3"></div>
	</div>

<iframe width="460" height="315" src="https://www.youtube.com/embed/Z-iPp6yn0hw" frameborder="0" allowfullscreen></iframe>
<iframe width="460" height="315" src="https://www.youtube.com/embed/EfvsFpvzMzo?rel=0&amp;controls=0" frameborder="0" allowfullscreen></iframe>
<iframe width="460" height="315" src="https://www.youtube.com/embed/Z-iPp6yn0hw" frameborder="0" allowfullscreen></iframe>

    <!--div class="lifes">
	     <div class="lifeFirst"></div>
		 <div class="lifeSecond"></div-->
	</div>

  </body>
</html>
